.listLeft {
    right: 0;
    left: auto;
}

.login-logo-top{ 
    width: 27px;
    height: 28.42px;
    margin:0px 15px 0px 17px; 
}
.login-top-title{  
    height: 19px;
    left: 70px;
    top: 14px; 
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    color: #000000;
}
.login-top-nav{  
    background-color: #FF9401;    
}
.navbar-toggler-bc{
    background-color: #000000 !important;    
}
 
