.body-container-login{
    width:100%;
    height: 100vh;
    overflow: auto;
    display: flex;
    align-items: center;
    background: url(../../../../assets/Images/background_1.jpg);
    background-attachment: fixed;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    
}
.login-logo-top{ 
    width: 27px;
    height: 28.42px;
    margin:0px 15px 0px 17px; 
}
.login-top-title{  
    height: 19px;
    left: 70px;
    top: 14px; 
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    color: #000000;
}
.login-top-nav{ 
    overflow: hidden;
    background-color: #FF9401;  
    position: fixed;  
    top: 0;  
    left: 0;
    padding: 15px;
    width: 100%;  
}
.body-container-login::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: transparent;
}
.main-login-section-inner {
    max-width: 450px;
    min-height: 440px;
    margin: auto;
    padding: 50px 40px;
    border: 1px solid #D5D2CD;
    border-radius: 5px;
    box-shadow: 0px 0px 60px -23px rgba(0,0,0,0.3);
    position: relative;
    background: #FFFFFF;
}
.logo-center {
    display: block;
    margin-left: auto;
    margin-right: auto; 
  }
.panel-side__content__copy__title {
    margin-bottom: 20px;
    color: #222;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    line-height: 1.0;  
    text-align: center;
}
.main-info {
    margin-bottom: 30px;
}
.main-info span {
    font-size: 20px;
    color: #222;
    letter-spacing: 0.5px;
    line-height: 25px;
    display: inline-block;
    font-weight: 500;
}
.login-section-fields-single {
    margin-bottom: 20px;
}
.login-section-fields input[type="submit"] {
    margin-top: 10px;
    background: #FF9401;
    height: auto;
    width: auto !important;
    border: 1px solid #FF9401;
    border-radius: 12px;
    font-size: 14px; 
    float: right;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    align-content: flex-end;
    cursor: pointer;
}

.login-section-fields-single label {
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #B0B3BA;
    width: 100%;
    text-shadow: 0.2px 0.2px 0.3px;
}
.login-section-fields-single input {
    height: 40px;
    padding: 5px 10px 5px 10px;
    width: 100% !important;
    border-radius: 3px;
    color: #222;
    font-size: 16px;
    background: #fff !important;
    border: 1px solid rgba(0,0,0,0.2);
    margin: 0px;
    font-weight: 400;
    margin-top: 2px;
}
.errorValdation {
    color: red !important;
}
.btnDisable
{
    background: grey;
    border: none;
}
