<div class="body-container-login">
  
    <div class="container">
      <div class="login-top-nav">
         <span ><img class="login-logo-top" title="Forest safe" src="../../../../assets/Images/logo_high1.png"></span>
         <span><h6 class="login-top-title">Forest safe</h6></span>
      </div>
      <div class="row">
        <div class="col-12 col-md-12">
          <div class="main-login-section"> 
            <div class="main-login-section-inner">  
              <div class="errorValdation text-center" *ngIf="errorMessage!=''">{{errorMessage}}</div>
                <img class="logo-center" title="Forest safe" src="../../../../assets/Images/logo_high1.png"> 
              <h5 class="panel-side__content__copy__title">Welcome Back!</h5>
              
              <div>
                <span style="color:red"></span>
              </div>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="login-section-fields">
                  <div class="login-section-fields-single">
                    <label>Username</label>
                    <input type="text" name="login-username" formControlName="email" placeholder="email" >
                    <span class="errorValdation" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required">Please enter email</span>
                   
                  </div>
                  <div class="login-section-fields-single">
                    <label>Password</label>
                    <input type="password" name="login_password" formControlName="password" placeholder="Password">
                    <span class="errorValdation"></span>
                  </div>
                  
                  <input type="submit" [ngStyle]="{'background':!loginForm.valid ? 'grey' : '','border':!loginForm.valid ? 'none' : '' }" [disabled]="!loginForm.valid" value="Log In" name="login-form-submit">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
    </ngx-spinner>     -->
