.card-item-small{
    height: 50px; 
    background: #F9E0BF;
    border-radius: 12px;
}
.greeting-title {
    margin-bottom: 20px;
    color: #222;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    line-height: 1.0;   
}
.c-padding{
    padding: 7px 27px 7px 27px;
}
.title-checkIns{   
        text-align:left;
        float:left;
        margin-top: 7px;
}

.card-title {
    margin-bottom: 10px;
    color: #222;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    line-height: 1.0;   
}
.small-card-title-alingment{
    text-align:left;
    float:left; 
}
.small-card-count-alingment{
    text-align:right;
    float:right; 
}