
<div class="container"> 
    <br/><br/>  
        <h5 class="page-title"> Time Sheets </h5>  
        <mat-form-field appearance="standard">
         
        <mat-select  [formControl]="weekControl" [(ngModel)]= "selected" (selectionChange)="DateFilter($event.value)" required>
            <mat-option >select week</mat-option>
            <mat-option   *ngFor="let week of weeks" [value]="week"> 
                {{week.startMonth}} {{week.startDate}} -  <span  *ngIf="week.startMonth!=week.endMonth"> {{week.endMonth}}</span>   {{week.endDate}} 
            </mat-option>
        </mat-select> 
        </mat-form-field>
<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8"> 
   <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef> {{selected.startMonth}} {{selected.startDate}} -  <span  *ngIf="selected.startMonth!=selected.endMonth"> {{selected.endMonth}}</span>   {{selected.endDate}} </th>
    <td mat-cell *matCellDef="let element"><input type="text" class="border-td-count" readonly value="{{element.totalShifts }}" />  </td>
  </ng-container>
  <ng-container matColumnDef="Operative">
    <th mat-header-cell *matHeaderCellDef> Operative </th>
    <td mat-cell *matCellDef="let element"> {{element.operativeName}} </td>
  </ng-container>
  <ng-container matColumnDef="Hours">
    <th mat-header-cell *matHeaderCellDef> Hours </th>
    <td mat-cell *matCellDef="let element"> {{element.totalHours}} </td>
  </ng-container>
  <ng-container matColumnDef="StartShift">
    <th mat-header-cell *matHeaderCellDef> Start Shift </th>
    <td mat-cell *matCellDef="let element">   </td>
  </ng-container>
  <ng-container matColumnDef="StopShift">
    <th mat-header-cell *matHeaderCellDef> Stop Shift </th>
    <td mat-cell *matCellDef="let element">   </td>
  </ng-container>
  <ng-container matColumnDef="StartLocation">
    <th mat-header-cell *matHeaderCellDef> Start Location </th>
    <td mat-cell *matCellDef="let element">   </td>
  </ng-container>
  <ng-container matColumnDef="StopLocation">
    <th mat-header-cell *matHeaderCellDef> Stop Location </th>
    <td mat-cell *matCellDef="let element">   </td>
  </ng-container> 
  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail" style="display: block;" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <tr class="row internal-tr" style="display: block;" *ngFor="let shift of element.shifts" > 
             <td style="display: inline-block;"><input type="text" class="border-td-day" readonly value="{{shift.createdOn | date :'EEEE'}}" /> </td> 
             <td style="display: inline-block;">{{shift.operativeName}}</td> 
             <td style="display: inline-block;">{{shift.hours}}</td> 
             <td style="display: inline-block;">{{shift.startTime | date:'shortTime' }} </td> 
             <td style="display: inline-block;">{{shift.stopTime | date:'shortTime' }} </td> 
             <td style="display: inline-block;">{{shift.startLongitude}}-<br/> {{shift.startLatitude}}</td> 
             <td style="display: inline-block;">{{shift.stopLongitude}}-<br/>{{shift.stopLatitude}}</td> 
           </tr> 
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class=" external-tr example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" [attr.rowspan]="row.shifts.length" class="example-detail-row">
    
  </tr>
</table>
</div>
