.c-h-background{
    background-color: #F9CA8A;
}

.under {
    right: 20px;
    position: absolute; 
    z-index: 1000;
} 
.over {    
    right: 36px;
    top: 25px;
    position: absolute; 
    z-index: 1001;
  }
.numberCircle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 5px; 
    background: #F9CA8A; 
    color: #000;
    text-align: center; 
    font: 17px Arial, sans-serif;
}
.page-title {
    margin-bottom: 20px;
    color: #222;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    line-height: 1.0;   
}
.button-new
{
  background-color: #FF9401;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  border: 0px; 
  color: #000;
  padding: 10px 25px 10px 25px;
}
.button-edit
{
  background-color: #F9CA8A;
  border-radius: 3px;
  border: 0px;
  padding: 5px 15px 5px 15px;
  color: #000; 
}
.main-card{
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: 0px;
}
.asset-card-wdm{
    display: inline-block !important;width: 100%; margin-bottom: 20px;
}
.asset-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px; 
    text-transform: uppercase; 
    color: #5F5F5F;
    margin-bottom: 5px;
}
.service-date{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;  
    color: #5F5F5F;
    margin-bottom: 5px;
}
.asset-value{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.asset-card-name{ 
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px; 
    color: #000000;
}

@media (min-width: 768px)   { 
    .modal-asset{
         width: 808px;   
        background: #FFFFFF;
        border-radius: 12px;
        left: -25%;
        right: auto; 
    } 
  }

.asset-section-fields input[type="submit"] {
    margin-top: 10px;
    background: #FF9401;
    height: auto;
    width: auto !important;
    border: 1px solid #FF9401;
    border-radius: 12px;
    font-size: 14px; 
    margin-left: 50px;
    float: right;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    align-content: flex-end;
    cursor: pointer;
}
.asset-section-fields button[type="button"] {
    margin-top: 10px;
    background: transparent;
    height: auto;
    width: auto !important;
    border: 0px;
    border-radius: 12px;
    font-size: 14px;  
    float: right;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    align-content: flex-end;
    cursor: pointer;
}
.text-area{
    height: 223px;
}
@media (min-width: 768px)   { 
.card-columns { 
      column-count: 2;  
    } 
}

@media (max-width: 767px)   { 
    .card-columns { 
          column-count: 1;  
        } 
}