<div class="container"> 
    <br/> 
    <div class="row p-3">
        <div class="col-sm-12  ">
            <h5 class="page-title text-left">
               Assets <span class="numberCircle"> {{ assetsCount }}</span>
            </h5>  
          <button class="button-new text-right" (click)="newTriggerModal(NewModal)" title="+ New">+ New</button>
          <ng-template #NewModal let-modal class="modal-asset">
            <div class="modal-body modal-asset">
              <div class="row">
                <div class="col-sm-12">
                  <h4 class="modal-title text-left" id="modal-basic-title">New Asset</h4>
                  <button type="button" class="close text-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">×</span>
                  </button>
                </div> 
              </div> 
              <br/>
              <form [formGroup]="NewAssetForm" (ngSubmit)="onSubmitNewAsset()" novalidate>
                 
                  <div class="row">
                    <div class="col-sm-4">
                      <label class="form-field-title">Asset Name</label>
                      <input type="text" class="form-control form-field" name="newAsset-name" formControlName="name" placeholder="name" >
                      <span class="errorValdation" *ngIf="NewAssetForm.controls.name.touched && NewAssetForm.controls.name.errors?.required">Please enter name</span> 
                    </div>
                    <div class="col-sm-8">
                      <label class="form-field-title">QR Code</label>
                      <input type="text" readonly class="form-control form-field" name="newAsset-photo" formControlName="photo" placeholder="Qr code" >  
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">  
                      <label class="form-field-title">Serial Number </label>
                      <input type="text" class="form-control form-field" name="newAsset-serialNumber" formControlName="serialNumber" placeholder="Serial Number" >
                      <span class="errorValdation" *ngIf="NewAssetForm.controls.serialNumber.touched && NewAssetForm.controls.serialNumber.errors?.required">Please enter Serial Number</span> 
                      
                      <label class="form-field-title">Registration </label>
                      <input type="text" class="form-control form-field" name="newAsset-regNumber" formControlName="regNumber" placeholder="Registration" >
                      <span class="errorValdation" *ngIf="NewAssetForm.controls.regNumber.touched && NewAssetForm.controls.regNumber.errors?.required">Please enter Registration </span> 
                    </div>
                    <div class="col-sm-8">
                      <label class="form-field-title">Description</label> 
                      <textarea class="form-control text-area form-field" name="newAsset-description" formControlName="description" placeholder="description"></textarea>
                      <span class="errorValdation" *ngIf="NewAssetForm.controls.description.touched && NewAssetForm.controls.description.errors?.required">Please enter description</span> 
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 asset-section-fields">
                      <input type="submit" class="text-right " [ngStyle]="{'background':!NewAssetForm.valid ? 'grey' : '','border':!NewAssetForm.valid ? 'none' : '' }" [disabled]="!NewAssetForm.valid" value="Save" name="NewAssetForm-submit">
                      <button type="button" class="text-right " (click)="modal.close('Save click')">Cancel</button>
                      
                    </div> 
                  </div>  
              </form>
            </div>
            
          </ng-template>
        </div> 
        
    </div>
    <br/> 
    <div class="card-columns p-3"> 
      <div *ngFor="let asset of Assets" > 
        <div class="card  main-card asset-card-wdm"  >
          <div class="card-header c-h-background" style="height: 90px;">
            <div class="text-left">
              <h5 class="asset-card-name" >{{asset.name}}</h5>
              <p >{{asset.description}}</p>
            </div> 
            <img class=" text-right over" alt="qrcode"  src="../../../../assets/Images/qrcode.png">
            <img class="rounded-circle text-right under" alt="white" width="65" src="../../../../assets/Images/Ellipse.png" data-holder-rendered="true">
          </div>   
            <div class="card-body p-4">
              <div class="row">
                <div class="col-sm-3"><p class="asset-title">ID</p><p class=".asset-value">{{asset.assetId}}</p></div>
                <div class="col-sm-3"><p class="asset-title">Serial No</p><p class=".asset-value">{{asset.serialNumber}}</p></div>
                <div class="col-sm-3"><p class="asset-title">Registration</p><p class=".asset-value">{{asset.regNumber}}</p></div>
                <div class="col-sm-3 "><button class="button-edit float-right"  (click)="editTriggerModal(asset,EditModal)" title="Edit">Edit</button></div>
              </div> 
              <br/>
              <p class="asset-title">Service History</p> 
              <br/>
              <div *ngFor="let service of asset.services">
                <span class="asset-title">{{service.name}}</span> 
                <ul class="m-0"> 
                  <li> {{service.comment}} </li>
                </ul>
                <span  class="service-date">Created at: {{service.createdOn |  date :' MMM d, y'}}</span>
              </div>
            </div>
      
      
      
      
          </div>
         <br/>
      </div>  
      <ng-template #EditModal let-modal class="modal-asset">
        <div class="modal-body modal-asset">
          <div class="row">
            <div class="col-sm-12">
              <h4 class="modal-title text-left" id="modal-basic-title">Edit Asset</h4>
              <button type="button" class="close text-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            </div> 
          </div> 
          <br/>
          <form [formGroup]="editAssetForm" (ngSubmit)="onSubmitEditAsset()" novalidate>
             
              <div class="row">
                <div class="col-sm-4">
                  <label class="form-field-title">Asset Name</label>
                  <input type="hidden" class="form-control form-field" name="newAsset-Id" formControlName="Id" placeholder="Id" >
                  <input type="text" class="form-control form-field" name="newAsset-name" formControlName="name" placeholder="name" >
                  <span class="errorValdation" *ngIf="editAssetForm.controls.name.touched && editAssetForm.controls.name.errors?.required">Please enter name</span> 
                </div>
                <div class="col-sm-8">
                  <label class="form-field-title">QR Code</label>
                  <input type="text" readonly class="form-control form-field" name="newAsset-photo" formControlName="photo" placeholder="Qr code" > 
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <label class="form-field-title">ID</label>
                  <input type="text" readonly class="form-control form-field" name="newAsset-Id" formControlName="Id" placeholder="Id" >
                   
                  <label class="form-field-title">Serial Number </label>
                  <input type="text" class="form-control form-field" name="newAsset-serialNumber" formControlName="serialNumber" placeholder="Serial Number" >
                  <span class="errorValdation" *ngIf="editAssetForm.controls.serialNumber.touched && editAssetForm.controls.serialNumber.errors?.required">Please enter Serial Number</span> 
                  <label class="form-field-title">Registration </label>
                  <input type="text" class="form-control form-field" name="newAsset-regNumber" formControlName="regNumber" placeholder="Registration" >
                  <span class="errorValdation" *ngIf="editAssetForm.controls.regNumber.touched && editAssetForm.controls.regNumber.errors?.required">Please enter Registration </span> 
                </div>
                <div class="col-sm-8">
                  <label class="form-field-title">Description</label> 
                  <textarea class="form-control text-area form-field" name="newAsset-description" formControlName="description" placeholder="description"></textarea>
                  <span class="errorValdation" *ngIf="editAssetForm.controls.description.touched && editAssetForm.controls.description.errors?.required">Please enter description</span> 
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 asset-section-fields">
                  <input type="submit" class="text-right " [ngStyle]="{'background':!editAssetForm.valid ? 'grey' : '','border':!editAssetForm.valid ? 'none' : '' }"  value="Save" name="editAssetForm-submit">
                  <button type="button" class="text-right " (click)="modal.close('Save click')">Cancel</button>
                  
                </div> 
              </div>  
          </form>
        </div> 
      </ng-template>
      
    </div> 
</div> 
    
