<div class="container"> 
    <br/>
    <br/>
    <br/> 
    <div class="row">
        <div class="col-sm-4 text-left">
            <h5 class="page-title">
               Assets <span class="numberCircle"> {{ assetsCount }}</span>
            </h5> 
        </div>
        <div class="col-sm-8  text-right">
          <button class="button-new" (click)="newTriggerModal(NewModal)" title="+ New">+ New</button>
          <ng-template #NewModal let-modal class="modal-asset">
            <div class="modal-body modal-asset">
              <div class="row">
                <div class="col-sm-12">
                  <h4 class="modal-title text-left" id="modal-basic-title">New Asset</h4>
                  <button type="button" class="close text-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">×</span>
                  </button>
                </div> 
              </div> 
              <br/>
              <form [formGroup]="NewAssetForm" (ngSubmit)="onSubmitNewAsset()" novalidate>
                 
                  <div class="row">
                    <div class="col-sm-4">
                      <label class="form-field-title">Asset Name</label>
                      <input type="text" class="form-control form-field" name="newAsset-name" formControlName="name" placeholder="name" >
                      <span class="errorValdation" *ngIf="NewAssetForm.controls.name.touched && NewAssetForm.controls.name.errors?.required">Please enter name</span> 
                    </div>
                    <div class="col-sm-8">
                      <label class="form-field-title">QR Code</label>
                      <input type="text" class="form-control form-field" name="newAsset-name" formControlName="name" placeholder="name" >
                      <span class="errorValdation" *ngIf="NewAssetForm.controls.name.touched && NewAssetForm.controls.name.errors?.required">Please enter name</span> 
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <label class="form-field-title">Asset Name</label>
                      <input type="text" class="form-control form-field" name="newAsset-name" formControlName="name" placeholder="name" >
                      <span class="errorValdation" *ngIf="NewAssetForm.controls.name.touched && NewAssetForm.controls.name.errors?.required">Please enter name</span> 
                      <label class="form-field-title">Serial Number </label>
                      <input type="text" class="form-control form-field" name="newAsset-serialNumber" formControlName="serialNumber" placeholder="Serial Number" >
                      <span class="errorValdation" *ngIf="NewAssetForm.controls.serialNumber.touched && NewAssetForm.controls.serialNumber.errors?.required">Please enter Serial Number</span> 
                      <label class="form-field-title">Registration </label>
                      <input type="text" class="form-control form-field" name="newAsset-regNumber" formControlName="regNumber" placeholder="Registration" >
                      <span class="errorValdation" *ngIf="NewAssetForm.controls.regNumber.touched && NewAssetForm.controls.regNumber.errors?.required">Please enter Registration </span> 
                    </div>
                    <div class="col-sm-8">
                      <label class="form-field-title">Description</label> 
                      <textarea class="form-control text-area form-field" name="newAsset-description" formControlName="description" placeholder="description"></textarea>
                      <span class="errorValdation" *ngIf="NewAssetForm.controls.description.touched && NewAssetForm.controls.description.errors?.required">Please enter description</span> 
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 asset-section-fields">
                      <input type="submit" class="text-right " [ngStyle]="{'background':!NewAssetForm.valid ? 'grey' : '','border':!NewAssetForm.valid ? 'none' : '' }" [disabled]="!NewAssetForm.valid" value="Save" name="NewAssetForm-submit">
                      <button type="button" class="text-right " (click)="modal.close('Save click')">Cancel</button>
                      
                    </div> 
                  </div>  
              </form>
            </div>
            
          </ng-template>
        </div> 
        
    </div> 
  <div class="row"> 
      <div *ngFor="let asset of Assets" class="col-sm-6">
        <br/>
        <div class="card main-card">
          <div class="card-header c-h-background">
            <div class="text-left">
              <h5 class="asset-card-name" >{{asset.name}}</h5>
              <p >{{asset.description}}</p>
            </div> 
            <img class=" text-right over" alt="qrcode"  src="../../../../assets/Images/qrcode.png">
            <img class="rounded-circle text-right under" alt="white" width="65" src="../../../../assets/Images/Ellipse.png" data-holder-rendered="true">
          </div>   
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3"><p class="asset-title">ID</p><p class=".asset-value">{{asset.assetId}}</p></div>
                <div class="col-sm-3"><p class="asset-title">Serial No</p><p class=".asset-value">{{asset.serialNumber}}</p></div>
                <div class="col-sm-3"><p class="asset-title">Registrantion</p><p class=".asset-value">{{asset.regNumber}}</p></div>
                <div class="col-sm-3"><button class="button-edit"  (click)="editTriggerModal(asset,EditModal)" title="Edit">Edit</button></div>
              </div> 
              <br/>
              <p class="asset-title">Service History</p> 
              <br/>
              <div>
                <p class="asset-title">Service Type: 2021 MOT</p>
                <br/>
                <ul>
                  <li>Brake pads replaced</li>
                  <li>Brake pads replaced</li>
                </ul>
              </div>
            </div>
        </div>
        


      </div>  
      <ng-template #EditModal let-modal class="modal-asset">
        <div class="modal-body modal-asset">
          <div class="row">
            <div class="col-sm-12">
              <h4 class="modal-title text-left" id="modal-basic-title">New Asset</h4>
              <button type="button" class="close text-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            </div> 
          </div> 
          <br/>
          <form [formGroup]="editAssetForm" (ngSubmit)="onSubmitEditAsset()" novalidate>
             
              <div class="row">
                <div class="col-sm-4">
                  <label class="form-field-title">Asset Name</label>
                  <input type="text" class="form-control form-field" name="newAsset-name" formControlName="name" placeholder="name" >
                  <span class="errorValdation" *ngIf="editAssetForm.controls.name.touched && editAssetForm.controls.name.errors?.required">Please enter name</span> 
                </div>
                <div class="col-sm-8">
                  <label class="form-field-title">QR Code</label>
                  <input type="text" class="form-control form-field" name="newAsset-name" formControlName="name" placeholder="name" >
                  <span class="errorValdation" *ngIf="editAssetForm.controls.name.touched && editAssetForm.controls.name.errors?.required">Please enter name</span> 
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <label class="form-field-title">Asset Name</label>
                  <input type="text" class="form-control form-field" name="newAsset-name" formControlName="name" placeholder="name" >
                  <span class="errorValdation" *ngIf="editAssetForm.controls.name.touched && editAssetForm.controls.name.errors?.required">Please enter name</span> 
                  <label class="form-field-title">Serial Number </label>
                  <input type="text" class="form-control form-field" name="newAsset-serialNumber" formControlName="serialNumber" placeholder="Serial Number" >
                  <span class="errorValdation" *ngIf="editAssetForm.controls.serialNumber.touched && editAssetForm.controls.serialNumber.errors?.required">Please enter Serial Number</span> 
                  <label class="form-field-title">Registration </label>
                  <input type="text" class="form-control form-field" name="newAsset-regNumber" formControlName="regNumber" placeholder="Registration" >
                  <span class="errorValdation" *ngIf="editAssetForm.controls.regNumber.touched && editAssetForm.controls.regNumber.errors?.required">Please enter Registration </span> 
                </div>
                <div class="col-sm-8">
                  <label class="form-field-title">Description</label> 
                  <textarea class="form-control text-area form-field" name="newAsset-description" formControlName="description" placeholder="description"></textarea>
                  <span class="errorValdation" *ngIf="editAssetForm.controls.description.touched && editAssetForm.controls.description.errors?.required">Please enter description</span> 
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 asset-section-fields">
                  <input type="submit" class="text-right " [ngStyle]="{'background':!editAssetForm.valid ? 'grey' : '','border':!editAssetForm.valid ? 'none' : '' }" [disabled]="!editAssetForm.valid" value="Save" name="editAssetForm-submit">
                  <button type="button" class="text-right " (click)="modal.close('Save click')">Cancel</button>
                  
                </div> 
              </div>  
          </form>
        </div> 
      </ng-template>
      
    </div>
</div> 
    
