<div class="container"> 
    <br/><br/> 
    <div class="row">
        <div class="col-sm-4 text-left">
            <h5 class="page-title">
               Operatives <span class="numberCircle"> {{ OperativesCount }}</span>
            </h5> 
        </div>
        <div class="col-sm-8  text-right">
          <button class="button-new" (click)="newTriggerModal(NewModal)" title="+ Add">+ Add</button>
          <ng-template #NewModal let-modal class="modal-asset">
            <div class="modal-body modal-asset">
              <div class="row">
                <div class="col-sm-12">
                  <h4 class="model-title-job text-left" id="modal-basic-title">New Operative</h4>
                  <button type="button" class="close text-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">×</span>
                  </button>
                </div> 
              </div> 
              <br/>
              <form [formGroup]="NewOperativeForm" (ngSubmit)="onSubmitNewOperative()" novalidate>
                 
                  <div class="row">
                    <div class="col-sm-12">
                      <label class="form-field-title">First Name</label>
                      <input type="text" class="form-control form-field" name="NewOperativeForm-firstName" formControlName="firstName" placeholder="First Name" >
                      <span class="errorValdation" *ngIf="NewOperativeForm.controls.firstName.touched && NewOperativeForm.controls.firstName.errors?.required">Please enter First Name</span> 
                    </div> 
                  </div> 
                  <div class="row">
                    <div class="col-sm-12">
                      <label class="form-field-title">Last Name</label>
                      <input type="text" class="form-control form-field" name="NewOperativeForm-lastName" formControlName="lastName" placeholder="Last Name" >
                      <span class="errorValdation" *ngIf="NewOperativeForm.controls.lastName.touched && NewOperativeForm.controls.lastName.errors?.required">Please enter Last Name</span> 
                    </div> 
                  </div>  
                  <div class="row">
                    <div class="col-sm-12">
                      <label class="form-field-title">Email</label>
                      <input type="text" class="form-control form-field" name="NewOperativeForm-Email" formControlName="Email" placeholder="Email" >
                      <span class="errorValdation" *ngIf="NewOperativeForm.controls.Email.touched && NewOperativeForm.controls.Email.errors?.required">Please enter Email</span> 
                    </div> 
                  </div> 
                  <div class="row">
                    <div class="col-sm-12">
                      <label class="form-field-title">Password</label>
                      <input type="password" class="form-control form-field" name="NewOperativeForm-Password" formControlName="Password" placeholder="Password" >
                      <span class="errorValdation" *ngIf="NewOperativeForm.controls.Password.touched && NewOperativeForm.controls.Password.errors?.required">Please enter Password</span> 
                    </div> 
                  </div> 
                  <div class="row">
                    <div class="col-sm-12">
                      <label class="form-field-title">Role</label>
                      <input type="text" class="form-control form-field" name="NewOperativeForm-Role" formControlName="Role" placeholder="Role" >
                      <span class="errorValdation" *ngIf="NewOperativeForm.controls.Role.touched && NewOperativeForm.controls.Role.errors?.required">Please enter Role</span> 
                    </div> 
                  </div> 
                  <div class="row">
                    <div class="col-sm-12 asset-section-fields">
                      <input type="submit" class="text-right " [ngStyle]="{'background':!NewOperativeForm.valid ? 'grey' : '','border':!NewOperativeForm.valid ? 'none' : '' }" value="Save" name="NewOperativeForm-submit">
                      <button type="button" class="text-right " (click)="modal.close('Save click')">Cancel</button>
                      
                    </div> 
                  </div>  
              </form>
            </div>
            
          </ng-template>
        </div> 
        
    </div> 
  <div class="row"> 
      <div *ngFor="let operative of Operatives" class="col-sm-3">
        <br/>
        <div class="card main-card">
            
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-left">
                            <Span class="job-id">ID : </Span><Span class="asset-value">{{operative.operativeId}}</Span>
                        </div> 
                        <img (click)="editTriggerModal(operative,EditModal)"  class=" text-right over" alt="qrcode"   src="../../../../assets/Images/ico-pen.png">
                        <img (click)="editTriggerModal(operative,EditModal)"  class="rounded-circle text-right under" alt="white" width="20" src="../../../../assets/Images/Ellipse.png" data-holder-rendered="true">
                    </div>
                </div>
                <br/>
              <div class="row">  
                <div class="col-sm-6"><p class="form-field-title">First Name</p><p class="operative-title">{{operative.firstName}}</p></div>
                <div class="col-sm-6"><p class="form-field-title">Last Name</p><p class="operative-title">{{operative.lastName}}</p></div>
               </div> 
            </div>
        </div> 
      </div>  
      <ng-template #EditModal let-modal class="modal-asset">
        <div class="modal-body modal-asset">
          <div class="row">
            <div class="col-sm-12">
              <h4 class="model-title-job text-left" id="modal-basic-title">Edit Operative</h4>
              <button type="button" class="close text-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            </div> 
          </div> 
          <br/>
          <form [formGroup]="editOperativeForm" (ngSubmit)="onSubmitEditOperative()" novalidate> 
            <div class="row">
                <div class="col-sm-6">
                  <label class="form-field-title">ID</label>
                  <input type="text" readonly class="form-control form-field" name="editOperativeForm-operativeId" formControlName="operativeId" placeholder="ID" >
                  <span class="errorValdation" *ngIf="editOperativeForm.controls.operativeId.touched && editOperativeForm.controls.operativeId.errors?.required">Please enter operativeId</span> 
                </div> 
            </div>
            <div class="row">
              <div class="col-sm-12">
                <label class="form-field-title">First Name</label>
                <input type="text" class="form-control form-field" name="editOperativeForm-firstName" formControlName="firstName" placeholder="First Name" >
                <span class="errorValdation" *ngIf="editOperativeForm.controls.firstName.touched && editOperativeForm.controls.firstName.errors?.required">Please enter firstName</span> 
              </div> 
            </div>
            <div class="row"> 
              <div class="col-sm-12">
                <label class="form-field-title">Last Name</label> 
                <input type="text" class="form-control   form-field" name="editOperativeForm-lastName" formControlName="lastName" placeholder="Last Name">
                <span class="errorValdation" *ngIf="editOperativeForm.controls.lastName.touched && editOperativeForm.controls.lastName.errors?.required">Please enter last lastName</span> 
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 asset-section-fields">
                <input type="submit" class="text-right " [ngStyle]="{'background':!editOperativeForm.valid ? 'grey' : '','border':!editOperativeForm.valid ? 'none' : '' }" [disabled]="!editOperativeForm.valid" value="Save" name="editOperativeForm-submit">
                <button type="button" class="text-right " (click)="modal.close('Save click')">Cancel</button>
                
              </div> 
            </div>  
        </form>
        </div> 
      </ng-template>
      
    </div>
</div> 
    

