table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  .border-td-count{
    width: 40px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #CCC8C2;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .border-td-day{
    width: 70px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #CCC8C2;
    box-sizing: border-box;
    border-radius: 4px;
  }
  tr.example-element-row:not(.example-expanded-row):active {
    background: #F9CA8A;
  }
  tr.internal-tr:hover{
    background: #fff; 
  }
  .internal-tr{
    background: #FAF8F5; 
    border: #fff 1px solid;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px; 
    color: #000000;
  }
 
  .mat-row:nth-child(2n+1){
    background-color: #FAF1E3;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px; 
    color: #000000;
  }
  .mat-row:not(:nth-child(4n+1)){
    background-color:#ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px; 
    color: #000000;
  }
  
  // .external-tr{
  //   background: #FAF1E3;
  // }
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
 span.mat-select-min-line{
      color:#000 !important;
  }
  table {
    width: 100%;
    table-layout: fixed;
  }
  
  th, td {
    overflow: hidden;
    width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }